@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}


/*Navbar*/

header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F5;
    /* background: #fff; */
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
}

.logo span{
    color: #181BED;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-left: 20px;
    font-family: "Chelsea Market", system-ui;
}

.nav-links {
    display: flex;
    gap: 40px;
}


.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding-top: 7px;
}


.nav-links a:hover {
    color: #fdb813;
}

#select-grp{
    background-color: #fff;
    border: 2px solid #6c63ff;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    appearance: none;
    text-align: center;
    
}

#login, #cv-btn {
    padding: 6px 11px;
    border-radius: 10px;
}


#cv-btn {
    background-color: #fff;
    border: 2px solid #6c63ff;
    color: #000;
}

#cv-btn:hover {
    background-color: #6c63ff;
    color: #fff;
    border: 2px solid #181BED;
}

#login {
    background-color: #6c63ff;
    border: 2px solid #181BED;
    color: #fff;
}

#login:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #6c63ff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #000;
    margin: 4px 0;
}

form{
    padding: 110px 10px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    border: 1px solid black;
    background-color: #fff;
    display: flex;
}

.left {
    width: 40%;
    height: inherit;
    background-color: rgb(204, 146, 156);
    padding: 20px 8px;
}

.inputImage {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    height: 100px;
    width: 100px;
}

.inputImage .image img {
    height: 100px;  
    width: 100px;
    cursor: pointer;
}

.image label {
    position: absolute;
    top: -20px;
    right: -30px;
    height: 40px;
    width: 40px;
    background: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;  
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    cursor: pointer;
}

.image:hover label {
    opacity: 1;
    pointer-events: all;
}

.inputImage .image #imagePath {
    display: none;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.inputContactDetails {
    display: flex;
    flex-direction: column;
}

.location, .phone, .email, .socialUrl {
    display: flex;
}

.objective {
    display: flex;
    flex-direction: column;
}

.right {
    width: 60%;
    height: 100%;
    padding: 20px 8px;
}

.experience {
    display: flex;
    flex-direction: column;
}

.education {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
}

.achievements {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    padding-top: 20px;
}

.submit {
    height: 50px;
    width: 70px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
}

.clear {
    height: 50px;
    width: 70px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
}

.leftHeading {
    margin: 5px 0;
}

.rightHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightHeading h1 {
    padding-right: 20px;
}

/* input fields */

input {
    field-sizing: content;
    background-color: #fff;
    border: none;
    transition: border-bottom 0.0s ease-in-out;
    padding: 5px 3px;
}

.left input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color:rgb(204, 146, 156) ;
}

.left input {
    background-color: rgb(204, 146, 156);
}

.left input::placeholder {
    color: #fff;
}

.left textarea {
    background-color: rgb(204, 146, 156);
    border: none;
    resize: none;
}

textarea:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color:rgb(204, 146, 156) ;
}

.left textarea::placeholder {
    color: #fff;
}

.inputObjective textarea {
    width: 100%;
}

.inputName input {
    font-size: 70px;
    font-weight: 600;
}

.inputRole input {
    font-size: 35px;
    font-weight: 500;
}

/* accessory classes */

.line {
    width: 60%;
    height: 2px;
    background-color: #000;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 30px;
    color: #000;
}

/* add button */
/* .extraInput :first-child {
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: left;
    position: relative;
    bottom: -10px;
} */

/* delete button */
/* .extraInput :nth-last-child(1){
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: right;
} */